<div class="d-flex justify-content-between align-items-center p-3 border-bottom navigation">
    <div>
        <h1>Track System</h1>
        <p>Sistema de Rastreabilidade</p>
    </div>

    <nav>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Active</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
            </li>
        </ul>
    </nav>
</div>