$backgroundColor: #ffffff;
$bodyColor: lightgray;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

// reset styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;

  .navigation {
    h1, p {
      margin: 0;
      padding: 0 1rem;
      }
    h1 {
      font-size: 1.5rem;
    }
    p {
      font-size: .8rem;
    }
  }

  main {
    height: 100vh;
    padding: 2rem;
  }
}
